<div class="{{base.pageContainerClass}} allDynamicGrid pb3-image-box-radius pb3-border-image-box-radius pb3-image-box-shadow">
    <pb-menu></pb-menu>
    <main>
        <description position="top" page="page" site="site"></description>

        <pb-gallery common-dynamicgridnew class="gridContainer" thumb-size="h800" page="page" site="site" base="base"></pb-gallery>

        <description position="bottom" page="page" site="site"></description>

        <pb-footer></pb-footer>
    </main>
    <pb-social-media></pb-social-media>
</div>